#searchweb #searchSite {
	width: 457px;
}
#searchSite {
    width: 550px;
    height: 28px;
    position: relative;
	display: inline-block;
}
#searchSite #kw {
	width: 550px; 
	color: #c9c9c9; 
	border: 1px solid #5b5b5b; 
	margin-right: 37px; 
	padding: 8px 30px 8px 10px;
    outline: 0;
}
#searchSite #submit {
    position: absolute;
    right: 5px;
    top: 6px;
    cursor: pointer;
}
#suggestions {
    position: absolute;
    width: 550px;
    z-index: 9999;
    max-height: 300px;
    border: 1px solid #999999;
    display: none;
    overflow-y: auto;
    background: #fff;
    font-size: 13px;
    cursor: default;
    color: #828282;
}
#suggestions .highlight {
    color: #ff9d33;
}
#suggestions div {
    padding: 2px 4px;
    position: relative;
	text-shadow: none;
	text-align: left;
}
#suggestions div.selected {
    background: #f0f0f0;
}