td.expper {
	display: none;
}
table#expControls > tbody > tr > td {
	padding: 0px 0px 0px 6px;
}
table#expControls > tbody > tr > td > select,
table#expControls > tbody > tr > td > input {
	color: #828282; border: 1px solid #5b5b5b; margin-top: 6px; cursor: hand;
}
table#expControls > tbody > tr > td > select {
	width: 80px; height: 27px; padding: 3px 0px 4px 4px;
}
table#expControls > tbody > tr > td > input {
	width: 90px; padding: 5px 0px 6px 7px;
}
table#expInfo {
	margin-left: 6px;
}
table#expInfo th {
	padding: 3px;
	font-weight: bold;
	font-size: 14px;
}
table#expInfo th:first-child {
	padding-left: 6px;
}
table#expInfo > tbody > tr > td {
	padding: 0px 6px !important;
	vertical-align: middle;
	border-top: 1px solid #a0aa31;
	white-space: nowrap;
}
table#expInfo > tbody > tr > td.exp {
	padding-left: 3px !important;
}
table#expInfo img {
	width: 36px !important;
	height: 36px !important;
	margin: 4px 4px 4px 0px !important;
}
#expInfoDesc {
	padding: 7px 0px 8px 0px;
	font-size: 12px
}
#expInfoDesc > i {
	font-weight: bold;
}