
body { background-image: url('../img/bg0-1.gif'); }
#wrapper { background-image: url('../img/bg1-1.gif'); }
#right { background-image: url('../img/bg2-1.gif'); }
#footer { background-image: url('../img/bg2-1.gif'); }
#tablestat .comment { background-image: url('../img/bg6-1.gif'); }