/* base visual */ 
/*.container {width: 50%;}*/

.row,
.col-md-1,
.col-md-4,
.col-md-6,
.col-md-12
 {
}

.generalBtn {

	margin: 5px auto;
	background-color: #2e2e2e;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; /* best hipster font type */
	color: white; 
	border-style: solid;
	border-radius: 5px;
	/*border-color: tomato;*/
	text-align: center;
	font-size: 20px; 

}

.col-md-6 { }

		/* this active will occur when you select a champion. Only one champion at a time can have this active */
#active {
	/*margin: 10px;*/
	border-style: solid;
	background-color: tomato;

}

.champ { 
	/*width: 30px; 
	height: 30px;*/
	padding: 20px;
	/*float: left;*/
	margin: 20px;
}

.champ-button-color {}

#attBtn {margin: 0 auto;}



